#
# This file contains configuration flags to customize your site
#

# Name of your site (displayed in the header)
name: MrPowerScripts

# Short bio or description (displayed in the header)
description: Learn. Code. Grow.
description-long: | 
  MrPowerScripts is here to help you automate your life so you have more time for automating your life. 
  My youtube channel started as a way for me to share stuff I was learning about Powershell. That was in 2012, and 
  since then the channel and grown in many different ways as my career and skills have envolved. My new goal with the channel
  is to try and automate it entirely. I'll be sharing a lot about that journey of automation while continuing 
  other porjects and sharing them here on my blog as well as youtube. Join my on Discord if you have any questions.

# URL of your avatar or profile pic (you could use your GitHub profile pic)
avatar: https://mrpowerscripts.com/images/twilightyellow.png

defaults:
  -
    scope:
      path: ""
      type: "posts" # previously `page` in Jekyll 2.2.
    values:
      author: "MrPowerScripts"

#
# Flags below are optional
#

# Includes an icon in the footer for each username you enter
footer-links:
  dribbble:
  email: playingwithpowershell@gmail.com
  facebook:
  flickr:
  github: mrpowerscripts
  instagram:
  linkedin:
  pinterest:
  rss: yea
  twitter: mrpowerscripts
  stackoverflow: # your stackoverflow profile, e.g. "users/50476/bart-kiers"
  youtube: user/mrpowerscripts
  discord: uEBWZKq
  patreon: mrpowerscripts
  googleplus: # anything in your profile username that comes after plus.google.com/


# Enter your Disqus shortname (not your username) to enable commenting on posts
# You can find your shortname on the Settings page of your Disqus account
disqus:

github:
  repository_url: https://github.com/MrPowerScripts/MrPowerScripts.com

# Enter your Google Analytics web tracking code (e.g. UA-2110908-2) to activate tracking
google_analytics: UA-121890486-1

# Your website URL (e.g. http://barryclark.github.io or http://www.barryclark.co)
# Used for Sitemap.xml and your RSS feed
url: https://mrpowerscripts.com

# If you're hosting your site at a Project repository on GitHub pages
# (http://yourusername.github.io/repository-name)
# and NOT your User repository (http://yourusername.github.io)
# then add in the baseurl here, like this: "/repository-name"
baseurl: ""

#
# !! You don't need to change any of the configuration flags below !!
#

permalink: /:title/

# The release of Jekyll Now that you're using
version: v1.2.0

# Jekyll 3 now only supports Kramdown for Markdown
kramdown:
  # Use GitHub flavored markdown, including triple backtick fenced code blocks
  input: GFM
  # Jekyll 3 and GitHub Pages now only support rouge for syntax highlighting
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    # Use existing pygments syntax highlighting css
    css_class: 'highlight'

collections:
  posts:
    output: true
  reviews:
    output: true
    permalink: /reviews/:title/

# Pagination stuff using v2 now
pagination:
  enabled: true
  per_page: 10
  permalink: "/page-:num/"
  sort_field: 'date'
  collection: 'posts'
  sort_reverse: true
  trail: 
    before: 2
    after: 2


# Set the Sass partials directory, as we're using @imports
sass:
  style: :expanded # You might prefer to minify using :compressed

# Use the following plug-ins
plugins:
  - jekyll-sitemap # Create a sitemap using the official Jekyll sitemap gem
  - jekyll-feed # Create an Atom feed using the official Jekyll feed gem
  - jekyll-paginate-v2 #pagination!

# Exclude these files from your production _site
exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - vendor/bundle
