---
layout: default
pagination:
  enabled: true
---

<!-- {% include discord-votes.html %} -->
<div class="posts">
    {% for post in paginator.posts %}
      <article class="post">
  
        {% include content-header.html type="post" %}
        <div class="entry">
            {{ post.excerpt }}
        </div>
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </article>
    {% endfor %}
  
    {% include supporter-cta.html %}
    <hr>
    {% include pagination-footer.html %}
  </div>
