---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file


// fonts
@font-face {
  font-display: swap;

  font-family: 'Montserrat Bold';
  src: url('fonts/Montserrat/Montserrat-Bold.woff2') format('truetype');

  font-family: sans-serif;
  // src: url('fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $white;
  font-family: 'Open Sans', sans-serif !important;
  color: $black;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat Bold', sans-serif !important;
  color: $darkerGray;
  font-weight: bold;
  color: black;

  line-height: 2;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 2;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-size: 30px;
  a {
    color: black;
  }

  a:hover {
    border-bottom: 4px solid black;
  }
}

h2 {
  font-size: 28px;
  line-height: 40px;
}

h3 {
  font-size: 20px;
  line-height: 32px;
}

h4 {
  font-size: 18px;
  line-height: 20px;
}

p {
  font-size: 20px;
  line-height: 34px;
  margin: 15px 0;

  @include mobile {
    font-size: 16px;
  }
}

a {
  color: $link;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    font-weight: bold;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 10px;
  background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);  
  }

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  color: white;

  .mh-txt-wrap {
    width: 639px;
  }

  a {
    color: white;
  }

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $white;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 1px;
  border-color: white;

  a {
    color: white;
    border-color: white;

    &:hover {
      border-bottom: 3px solid white;
    }
  }
}

.site-description {
  margin: -5px 0 0 0;
  color: $white;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $white;
    text-align: right;
    font-weight: bold;
    letter-spacing: 1px;

    &:hover {
      border-bottom: 1px solid white;
    }

    @include mobile {
      margin: 0 10px;
      color: lightcoral;
    }
  }
}

//
// .main
//

#main {
  z-index: 1;
}

.posts > .post {
  padding-bottom: 3em;
  padding-top: 2em;
  border-bottom: 1px solid $lightGray;

  &:first-child {
    padding-top: 0px;

  }
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .entry {
    line-height: 24px;
    a {
      color: $link;
      cursor: pointer;
    }
  }

.post-menu-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;

  span {
    margin-right: 2vw;
  }

  .edit-button {
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }
}

  .comments {
    margin-top: 10px;
  }

  .read-more {
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 20px;
    width: 100%;
    height: 40px;
    padding: 5px;
    color: white;
    border: solid #79b3f4 2px;
    background-color: #79b3f4;
    border-radius: 5px;
    float: right;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

.next, .previous {
  color: lightcoral;
}

.suggested-posts, .suggested-reviews {
  display: flex;
  flex-flow: column nowrap;
}

.suggested-post {
  margin-bottom: 1vh;
}

footer {
  padding: 20px 0;
  position: absolute;
  left: 0px;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to left top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

  a {
    color: white;
  }
}

.youtube-video {
  background-color: #000;
  margin-bottom: 30px;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
}
.youtube-video img {
  width: 100%;
  top: -16.84%;
  left: 0;
  opacity: 0.7;
}
.youtube-video .play-button {
  width: 90px;
  height: 60px;
  background-color: #FF0000;
  box-shadow: 0 0 30px #FFFFFF99;
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
}
.youtube-video .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26.0px;
  border-color: transparent transparent transparent #fff;
}
.youtube-video img,
.youtube-video .play-button {
  cursor: pointer;
  top: 0px;
}
.youtube-video img,
.youtube-video iframe,
.youtube-video .play-button,
.youtube-video .play-button:before {
  position: absolute;
}
.youtube-video .play-button,
.youtube-video .play-button:before {
  top: 50%;
  left: 50%;
  transform: translate3d( -50%, -50%, 0 );
}
.youtube-video iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.power-chev {
  color: red;
}

#active-motions {
  height: 0px;
  opacity: 0;
  overflow: hidden;
  transition: max-height 4s ease-in;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "starfield"; // https://codepen.io/saransh/pen/BKJun copy/paste job but this is sooooo cool
