version: 2.1

executors:
  default:
    docker:
      - image: mrps/jekyll

commands:
  install-deps:
    steps:
      - restore_cache:
          keys:
            - -v1-{{ checksum "Gemfile.lock" }}
      - run: bundler install --path vendor/bundle
      - save_cache:
          key: -v1-{{ checksum "Gemfile.lock" }}
          paths:
            - "vendor/bundle"

jobs:
  test:
    executor: default
    steps:
      - checkout
      - install-deps
      - run: bundle exec jekyll build
      - run: bundle exec htmlproofer ./_site --check-html --disable-external --check-opengraph --check-favicon

  deploy:
    executor: default
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - ee:96:96:59:fd:85:ed:00:5f:ca:e6:df:58:8f:05:71
      - run: |
            echo 'export DIRECTORY="_site"' >> "$BASH_ENV"
            echo 'export BRANCH="gh-pages"' >> "$BASH_ENV"
      - run: |
            echo $DIRECTORY
            echo $BRANCH
      - run: git fetch origin $BRANCH
      - run: rm -rf $DIRECTORY
      - run: git worktree add $DIRECTORY $BRANCH
      - run: |
            git config --global user.email "playingwithpowershell@gmail.com"
            git config --global user.name "MrPowerCI"
      - install-deps
      - run: bundle exec jekyll build
      - run: |
          cd $DIRECTORY
          git add -A
          git commit -m "[skip ci] Deploy updates" 
          git push origin gh-pages -f
      - run: |
          set -e
          curl -X POST "https://api.cloudflare.com/client/v4/zones/$CF_ZONE/purge_cache" \
              -H "X-Auth-Email: $CF_EMAIL" \
              -H "X-Auth-Key: $CF_KEY" \
              -H "Content-Type: application/json" \
              --data '{"purge_everything":true}'

workflows:
  test-deploy:
    jobs:
      - test:
          filters:
            branches:
              ignore:
                - gh-pages
      - deploy:
          requires:
            - test
          filters:
            branches:
              only:
                - master
