<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Blog",
        "url": "{{ prepend: site.baseurl | prepend: site.url }}",
        "headline": "{{ site.title }}",
        "about": "{{ site.description }}",
        "image": [
            "{{ site.avatar }}"
        ],
        "isAccessibleForFree": "True",
        "isPartOf": {
            "@type": [],
            "name": "",
            "productID": ""
        },
        "discussionUrl": "",
        "author": {
            "@type": "Person",
            "name": "{{ site.name }}",
            "description": "{{ site.description-long }}",
            "sameAs": "{{ site.url }}/about/",
            "image": {
                "@type": "ImageObject",
                "url": "{{ site.avatar }}"
            },
            "givenName": "",
            "familyName": "",
            "alternateName": "{{ site.name }}",
            "publishingPrinciples": "{{ site.url }}/about/"
        },
        "editor": {
            "@type": "Person",
            "name": "{{ site.name }}",
            "description": "{{ site.description-long }}",
            "sameAs": "{{ site.url }}/about",
            "image": {
                "@type": "ImageObject",
                "url": "{{ site.avatar }}"
            },
            "givenName": "",
            "familyName": "",
            "alternateName": "{{ site.name }}",
            "publishingPrinciples": "{{ site.url }}/about"
        },
        "inLanguage": "en-US",
        "license": "http://creativecommons.org/licenses/by-sa/4.0/",
        "additionalType": "CreativeWork",
        "alternateName": "",
        "publisher": {
            "@type": "Organization",
            "name": "{{ site.name }}",
            "description": "{{ site.description-long }}",
            "sameAs": "{{ site.url }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ site.avatar }}"
            },
            "publishingPrinciples": "{{ site.url }}/about/"
        }
    }
</script>