<script> 
var reviewHTML = '<div class="reviews">'+
            '  <div id="suggested-reviews" class="suggested-reviews">'+
            '    <h4>Suggested reviews for you</h4>'+
            '    <ul class="suggested-reviews-list">'+
            '      <li><a href="" class="suggested-reviews-1" id="suggested-reviews-1"></a></li>'+
            '      <li><a href="" class="suggested-reviews-2" id="suggested-reviews-2"></a></li>'+
            '      <li><a href="" class="suggested-reviews-3" id="suggested-reviews-3"></a></li>'+
            '      <li><a href="" class="suggested-reviews-4" id="suggested-reviews-4"></a></li>'+
            '      <li><a href="" class="suggested-reviews-5" id="suggested-reviews-5"></a></li>'+
            '    </ul>'+
            '  </div>'+
            '</div>';

    window.addEventListener('load', function() {
      fetch("/api-reviews.json")
      .then(res => res.json())
      .then(out => {

        let entry = document.getElementsByClassName("entry")[0]
        let reviews = document.createElement('div')
        reviews.innerHTML = reviewHTML

        let afterMe = entry.children[Math.ceil(entry.childElementCount / 2)] 

        entry.insertBefore(reviews, afterMe)

        var posts = out.sort(() => .5 - Math.random()).slice(0,5)
        let i
        for (i=0; i < posts.length; i++) {
          document.getElementById(`suggested-reviews-${i + 1}`).text = posts[i].title
          document.getElementById(`suggested-reviews-${i + 1}`).href = posts[i].url
        }
    
        let content = document.getElementById('suggested-reviews')
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        } 



      })
      .catch(error => console.error(error))
    }, false);
    </script>