---
layout: default
---

<!-- {% include discord-votes.html %} -->
<article class="post">
  {% include suggested-reviews.html %}
  {% include content-header.html type="page" %}
  <div id="amzn-assoc-ad-08b4ca1c-2647-4b60-9e4a-704ef215179e"></div>
  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  <hr>
  <div id="amzn-assoc-ad-4157821c-83ef-4e23-a734-d3f7e07f2fa2"></div>
  {% include supporter-cta.html %}
  {% include suggested-articles.html %}
</article>

<script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=08b4ca1c-2647-4b60-9e4a-704ef215179e"></script>
<script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=4157821c-83ef-4e23-a734-d3f7e07f2fa2"></script>
