---
layout: default
---

{% include discord-votes.html %}
<article class="post">
  <h1>{{ page.title }}</h1>
  <div class="post-menu-bar">
    <span>👤{{ page.author }}</span>
    <span>📅 {{ page.date | date: "%B %d, %Y" }}</span>
    {% include read_time.html text=page.content %}
    <a class="edit-button" href="{{ site.github.repository_url }}/tree/master/{{ page.relative_path }}">Edit</a>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <div id="suggested" class="suggested" hidden>
    <h4>Suggested for you</h4>
    <div class="suggested-posts">
      <a href="" class="suggested-post" id="suggested-1"></a>
      <a href="" class="suggested-post" id="suggested-2"></a>
      <a href="" class="suggested-post" id="suggested-3"></a>
      <a href="" class="suggested-post" id="suggested-4"></a>
      <a href="" class="suggested-post" id="suggested-5"></a>
    </div>
  </div>
</article>

<script>

window.addEventListener('load', function() {
  fetch(window.location.origin+"/api.json")
  .then(res => res.json())
  .then(out => {
    var posts = out.sort(() => .5 - Math.random()).slice(0,5)
    document.getElementById("suggested-1").text = posts[0].title
    document.getElementById("suggested-1").href = posts[0].url
    document.getElementById("suggested-2").text = posts[1].title
    document.getElementById("suggested-2").href = posts[1].url
    document.getElementById("suggested-3").text = posts[2].title
    document.getElementById("suggested-3").href = posts[2].url
    document.getElementById("suggested-4").text = posts[3].title
    document.getElementById("suggested-4").href = posts[3].url
    document.getElementById("suggested-5").text = posts[4].title
    document.getElementById("suggested-5").href = posts[4].url

    document.getElementById("suggested").hidden = false
  })
}, false);
</script>


