---
layout: default
---

<!-- {% include discord-votes.html %} -->
<article class="post">
  <h1>{{ page.title }}</h1>
  <div class="post-menu-bar">
    <span>👤{{ page.author }} {% if page.author_url %}<a href="{{ page.author_url}}">🔗</a> {% endif %}</span>
    <span>📅 {{ page.date | date: "%B %d, %Y" }}</span>
    {% include read_time.html text=page.content %}
    <a class="edit-button" href="{{ site.github.repository_url }}/tree/master/{{ page.relative_path }}">Edit</a>
  </div>
  <hr>
  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  <hr>
  {% include supporter-cta.html %}
  <hr>
    MrPowerScripts is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.com products and services.
  <div id="suggested" class="suggested" hidden>
    <h4>Suggested posts for you</h4>
    <div class="suggested-posts">
      <a href="" class="suggested-post" id="suggested-1"></a>
      <a href="" class="suggested-post" id="suggested-2"></a>
      <a href="" class="suggested-post" id="suggested-3"></a>
      <a href="" class="suggested-post" id="suggested-4"></a>
      <a href="" class="suggested-post" id="suggested-5"></a>
    </div>
  </div>
</article>

<script>

window.addEventListener('load', function() {
  fetch(window.location.origin+"/api.json")
  .then(res => res.json())
  .then(out => {
    var posts = out.sort(() => .5 - Math.random()).slice(0,5)
    let i
    for (i=0; i < posts.length; i++) {
      document.getElementById(`suggested-${i + 1}`).text = posts[i].title
      document.getElementById(`suggested-${i + 1}`).href = posts[i].url
    }

    document.getElementById("suggested").hidden = false
  })
  .catch(error => console.error(error))
}, false);
</script>


